
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: url("../images/arabic.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: tan;
  
}

.navbar-toggler{
  background-color: rgb(241, 235, 227)
}

#navbar-brand{
    background-color: rgb(241, 235, 227)
}
.navbar .navbar-expand-lg .navbar-light .bg-light{
    background-color:rgb(241, 235, 227)
}